<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'firstapp/style.css' %}">
    </head>
    <body>
    <div class='container'>
        <h1>Welocome to the CRUD operations page.</h1> 
        <br>
        <table class='mt-40 w-100'>
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Faculty</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
               </tr>
            </thead>
        {%if student%}
         <tbody>
            {%for std in student%}
                        <tr>
                            <td>{{std.studentName}}</td>
                            <td>{{std.StudentFaculty}}</td>
                            <td>{{std.CreatedAt}}</td>
                            <td>{{std.updatedAt}}</td>
                            <td><a href={% url 'update' std.id %}>Edit</button></a>
                            <td><a href={% url 'update'  std.id%}>Delete</button></a>
                        </tr>
            {%endfor%}
            {%else%}
            <p>No Student Found.</p>
            </tbody>
        {%endif%}
        <form action='' method='post'>
            {% csrf_token %}
            {{form.as_p}}
            <button type='submit'>Submit</button>
        </form>
    </div>
        <script src="" async defer></script>
    </body>
</html>
